
body{
    background-color: #333;
    color: #fff;
}

.navbar{
    border-bottom: 3px solid #008ed6;
    background-color: #292b2c;
    opacity: 0.7;
}



#home-section{
    background: url('../Image/2.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;


}
.dark-overlay{
    background: rgba(0,0,0,0.7);
    min-height: 700px;
}
.fa{
    background: #fff;
    color: #008ed6;
    padding: 4px;
    border-radius: 8px;
}
.home-inner{
    padding-top: 150px;
    padding-bottom: 50px;
}

.cfa{
    
    font-size: 30px;
    background: #333;
    color: #fff;
    padding:  4px;
    border-radius: 5px;

}
.pic{
    padding-top: 0px;
}
.pic1{
    padding-top: 50px;
}

        
@media(max-width: 768px){
    #home-section h1{
        font-size: 30px;
    }
}



